body{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.algo{
  width: 100vw;
  height: 100vh;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  height:300px;
  gap: 20px;
}

img{
  border-radius: 10px;
  cursor: pointer;
  width: 150px;
  height: 150px;
}

img:hover{
  transform: scale(1.1);
}

.true{
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, .5);
  
}

a{
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.boton{
  margin-top: 220px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(171, 252, 171);
  display: none;
}

.boton:hover{
  background-color: rgb(101, 240, 101);
}

.display{
  display: flex;
}